[2020-04-05 05:11] jlgeering commented on #357
@ericmj thx

[2020-04-05 11:11] ZsoltMaslanyi opened #370 "Mint adapter does not support HTTP2 push"
Hi guys,

This is a feature request that I can't take on on my own.

The Mint adapter does not support HTTP2 push messages and I haven't found a way to disable it through the adapter configuration.

[code]

[2020-04-07 10:48] #314 closed

[2020-04-07 11:23] teamon commented on #362
Let's continue in https://github.com/teamon/tesla/pull/371

[2020-04-07 11:25] teamon commented on #370
Please share an example code, these is little I can do with the given information.

I'm also not sure if this is a feature, or a bug. Please clarify.

[2020-04-07 11:53] teamon commented on #367
I would discourage usage of macros for DRY. It's better to use the [Runtime middleware](https://github.com/teamon/tesla#runtime-middleware).

I think `Tesla.Middleware.Opts` should use `Keyword.merge`, instead of simple `++`, but unfortunately it would be a breaking change.

On the other hand, currently it _doesn't work_, and it seems like there is a little chance someone is relying on this behavi

[2020-04-07 11:59] teamon commented on #360
I agree, `FollowRedirects` should drop host header in case the location has a different hostname than the original url.

[2020-04-07 12:10] teamon commented on #352
I don't think we can do much here right now - I'm going to close this issue.
If you have other comments or ideas please share them here.

[2020-04-07 12:10] #352 closed

[2020-04-07 12:59] tanguilp commented on #352
I might propose a PR in the future. Thanks for the insights!

[2020-04-07 13:11] ZsoltMaslanyi commented on #370
Hi @teamon , thanks for taking the time to check this!

Sorry if it wasn't obvious from the description, here's the example code:
[code]

The error message is the same as the original post I wrote.
The Mint adapter's reduce_responses/3 gets called with :push_promise to push down content on the connection, but the response is not handled by the adapter.

Re for if it's a feature request or a bug -

[2020-04-08 06:18] xinz commented on #357
Hello, what's the next for this issue of `Mint` adapter? Please correct me if any missing.

1, Currently, `Mint` adapter uses `:active` mode with one-off connection by default, do we need to change use `:passive` mode?
2, Do we still need to support `:conn` option to reuse the connection from outside, in this use case, looks like `Mint` adapter needs to take more boundary conditions, what do you t

[2020-04-10 09:39] archywillhe opened #374 "saving JSON after JSON is encoded?"
this will give `{:error, :badarg}` after `plug Tesla.Middleware.JSON`:

[code]

What are the best way to `Stringify`/decode the json before writing it to a file?

I tried plug `Tesla.Middleware.JSON.decode/2` but doesn't work either

If I have Poison I can do `Poison.decode`

[2020-04-10 10:05] #374 closed

[2020-04-10 10:06] archywillhe commented on #374
fixed; too many hours of sleeplessness; confused encode&decode 🌗

[2020-04-15 18:59] tegon opened #376 "Should `Tesla.Adapter.Mint` handle `%Mint.TransportError`?"
## Context
I have an app running in production with Tesla + Mint and I received the following error the other day:

`(CaseClauseError) no case clause matching: {:error, %Mint.TransportError{reason: :timeout}}`

This confused me a bit, since I already had a clause matching timeouts - `{:error, :timeout}` - which was working in my tests.
I had to dive into both `Tesla` and `Mint`'s source until I fo

[2020-04-16 11:15] teamon commented on #376
This is somehow related to https://github.com/teamon/tesla/issues/255

The tl;dr is - timeout is hard.

Every adapter does it a bit differently and there are different kinds of timeouts (i.e. hackney's `recv_timeout` is for each `recv()` call only, not the total request/response exchange).

I've started working on #255 but stopped as I haven't found a good solution.
If you have any ideas on how to

[2020-04-16 12:05] teamon commented on #357
I think the next step would be to use `:passive` mode indeed.
The later one would be to implement active mode with real connection pooling

Also related to https://github.com/teamon/tesla/issues/301

[2020-04-22 07:58] wojtekmach opened #377 "Make runtime middleware more prominent in docs"
First of all, thank you for this library. And apologies if something like this was already discussed, I couldn't easily find it.

In the very first example in README we have:

[code]

and we bake in `token xyz` which is almost never a good idea. But the main problem is we've then  seen folks following the pattern from README and ending up with:

[code]

which is the whole compile-time vs runtime c

[2020-04-29 17:41] aselder opened #379 "Documentation Issues: Logger Middleware"
I was running it to a situation where I set the log_level of a Logger middleware to always be `:debug`, but I was still seeing log output with the Logger log_level set to `warn`.

Looking at the code, it does something slightly different than was the documentation says.

If the request returns {:error, whatever}, the log level is always set to :error, the custom log level function is never called.

[2020-04-29 17:42] aselder commented on #379
Also, the docs don't mention that you can pass an atom instead of a function as the log_level option

[2020-04-29 17:53] aselder commented on #379
I'll see what I can do about putting together a PR.

[2020-05-15 20:53] 3duard0 opened #380 "Telemetry legacy event is sending duration in native_time instead of millisecond"
The duration previously sent in the legacy telemetry returned a microsecond duration and now it sends as native_time.

It seems that the snippet below should fix the issue, but for some weird reason my telemetry system is not working properly with this change. May be another bug elsewhere in my code or this doesn't properly fix it. I'm sending the code as it can be helpful.
[code]

[2020-05-18 07:55] teamon commented on #380
The previous version used [`:timer.tc/3`](https://erlang.org/doc/man/timer.html#tc-3) which reports time in microseconds, the new one uses [`System.monotonic_time/0`](https://hexdocs.pm/elixir/System.html#monotonic_time/0) which indeed reports time in native units.

@bryannaegele Would you mind taking a look?

@3duard0 Thanks for the report 🙇

[2020-05-18 08:34] teamon opened #381 "Finch adapter"
A tiny adapter for https://github.com/keathley/finch - a HTTP client with built-in pooling.
Instead of building own mint+pooling adapter we could nicely integrate with Finch.

Something like this:

[code]

[2020-05-18 08:50] teamon commented on #377
I agree 100% 🙃

There are few reasons why I stalled with README change:

1. Non-macro clients are a bit more complex to start with and less familiar to the ones who know plug. Nowadays most of the clients I write look like this:
[code]
    Which might be a bit too much to start with. On the other hand, removing the `Application.get_env/3` call makes one wonder why this code can't be defined as `@m

[2020-05-18 09:31] wojtekmach commented on #377
I'm worried that in effort to make things accessible we're nudging people in the wrong direction, the current top of the readme looks perhaps familiar but it's arguably wrong. Almost everyone needs to have some kind of auth token so I think showing how to correctly grab it is really important.

Regarding 2., we have top of readme (macros) and runtime middleware section; I'd reverse them, top of re

[2020-05-18 09:48] teamon commented on #377
It's... complicated. Most of the time I use runtime middleware only as there are is always something you want to configure in runtime (auth, timeout, url, fuse params, etc.) At the same time, I've written a bunch of macro-based clients for internal microservices where e.g. auth was not necessary.

I personally despise breaking changes, but _hiding_ end user macros and promote dynamic middleware ha

[2020-05-18 09:52] wojtekmach commented on #377
just to be clear, I wasn't proposing to drop macro-based api anytime soon, rather to: first, make it an exception not the rule; then, let it slowly fall into oblivion :) (and in a few years you can drop it or keep it, it doesn't really matter!)

[2020-05-18 15:15] chulkilee commented on #381
Note

So I believe we need a way to trigger pruning unused pools (or a way to do it) from the library.

[2020-05-20 01:05] jherdman opened #383 "Ship Rhobust Tape Adapter"
Having code for a Tape adapter is just one step away from actually shipping one. Why not just ship it too?

[2020-05-20 19:48] jherdman opened #384 "`debug: false` not working?"
I'm trying to set up logging following the instructions in the current release's documentation. I'm using `debug: false` to try and cut down on the noise. I'm still seeing a fair bit of noise though. Example:

[code]

Note that the stuff at the end appears to be the gzip'd response body.

[2020-05-20 19:51] teamon commented on #384
Try `mix deps.compile tesla --force`.

This is a known issue, I have Logger middleware internals redesign planned for the near future

[2020-05-20 22:35] jherdman commented on #384
Worked like a charm, but I had to `rm -rf deps` first. Many thanks! Feel free to close the issue unless you wanted to keep it around for tracking purposes.

[2020-05-27 12:56] teamon commented on #362
Solved by https://github.com/teamon/tesla/pull/371

[2020-05-27 12:56] #362 closed

[2020-05-27 12:56] #384 closed

[2020-05-27 12:59] teamon commented on #383
I assume you mean [this tape wiki entry](https://github.com/teamon/tesla/wiki/Cookbook%3A-Record-and-reply-requests-%28tape%2C-vcr%29).

This is really just a small example - to make it really robust and usable it would require some work, especially configuration and potentially using the test context to choose responses.

[2020-05-27 12:59] #380 closed

[2020-05-27 15:06] jherdman commented on #383
Is it worth shipping what's in the wiki entry as a means of getting a foot in the door toward a more complete solution?

[2020-05-28 21:43] gaiabeatrice opened #385 "Same request fails with some adapters and succeeds with others"
Hello,
I am migrating some of our requests from `HTTPoison` to `Tesla` and I found some requests are failing if I use `httpc` or `Mint` as the adapters, while `Hackney` works. I understand that it is because of HTTPoison using Hackney under the hood.

It would be nice, however to see some sort of uniformity in handling requests so that switching to a new adapter can be as seamless as possible.

[c

[2020-06-03 18:33] aselder opened #386 "Feature Request: Allow client meta data that can be passed to Telemetry"
When using Tesla following the Runtime Middleware style, the telemetry events emitted do not contain any information about which Tesla client emitted the event. The `__module__` attributes of the env is simply `Tesla`.

Perhaps we could add a metadata field to Tesla.Client that can be populated with arbitrary values when `Tesla.client()` is called?

[2020-06-03 22:42] aselder commented on #386
I'm happy to put in the work and I think it would be pretty simple.

 I'm thinking of changing the second argument to `Tesla.client/2` to a keyword list that could take `adapter` and `metadata` values. I'd add a backwards compatibility layer to `Tesla.client/2` so that it would not break existing code (if 2nd arg is keyword list, find the adapater under the adapter key, otherwise treat the 2nd arg

[2020-06-03 22:53] aselder commented on #386
Initial rough implementation: https://github.com/teamon/tesla/pull/387. Would love to get thoughts and feedback.

[2020-06-04 08:14] mfeckie opened #388 "Logger and basic auth"
Many API require the use of basic auth, but when using the Tesla Logger middleware, it leaks sensitive information in the `%Tesla.Env{}` struct.

Is there a common way to avoid this?

For example

[code]

If there isn't a common way to do this, would you be interested in a PR to add that kind of filtering to the logger?

[2020-06-04 15:49] chulkilee commented on #388
`Tesla.Client` holds the all information - and you shouldn't just inspect it.

I don't  think Logger prints out the all information. Does it?

If you want to always hide it, then you may implement Inspect protocol on Tesla.Client.

BTW it would be easier to change behavior by module if we use struct, not MFA, in `pre`.

[code]

However, since it's MFA, you need to match the first element (middlewa

[2020-06-05 00:59] mfeckie commented on #388
Based on this line https://github.com/teamon/tesla/blob/master/lib/tesla/middleware/logger.ex#L33 , I think it does print out all of the information.

The struct that gets printed is the whole of the `Tesla.Env` which contains the sensitive data.

I am able to stop the sensitive data from leaking by implementing `Inspect` for `Tesla.Env`.

[2020-06-05 05:59] mfeckie commented on #388
Actually digging in more, it only worked if I implement the protocol on `Tesla.Client`

[2020-06-05 11:40] Monyk015 commented on #381
Hey. I'm trying my hand at implementing this adapter and I'm not sure what to do with multipart and streaming. Finch's API doesn't seem to support it even though Mint does.

[2020-06-05 14:13] keathley commented on #381
@Monyk015 There is an open issue on finch to support a streaming API: https://github.com/keathley/finch/issues/58

[2020-06-09 16:10] keathley commented on #381
@Monyk015 streaming support has been added to finch: https://github.com/keathley/finch/pull/59

[2020-06-11 11:15] CharlesOkwuagwu opened #389 "Please how do we get Tesla to emulate `-k/--insecure` of curl ?"
Please how do we get Tesla to emulate `-k/--insecure` of curl ?

### Tesla
iex> Tesla.get("https://localhost:44384/get_company_mappings/10")
[error: :econnrefused]
iex>

### CURL
[code]

### CURL -k
[code]

[2020-06-11 12:14] chulkilee commented on #389
It depends on the adapter.

For hackney:

``elixir
{:error, {:tls_alert, {:bad_certificate, _}}} =
  Tesla.client([], Tesla.Adapter.Hackney) |> Tesla.get("https://self-signed.badssl.com/")

{:ok, %Tesla.Env{}} =
  Tesla.client([], {Tesla.Adapter.Hackney, insecure: true})
  |> Tesla.get("https://self-signed.badssl.com/")
[code]

[2020-06-11 12:17] CharlesOkwuagwu commented on #389
Ah, I Was using the default adapter: `Tesla.Adapter.Httpc`

[2020-06-11 23:46] chulkilee commented on #389
@CharlesOkwuagwu if you use Httpc, by default it does not check SSL.

[code]

[2020-06-14 20:27] kaikuchn opened #391 "How to handle failures?"
Hi, I'm picking up elixir again and one project I'm working on uses this library. I apologise if this isn't the right place to ask, but I couldn't find any community chat or similar linked in the readme.

Anyway, I have trouble handling errors since most middlewares only handle the `{:ok, _}` tuple but in some cases an `{:error, _}` tuple is being returned. I don't want to rescue the `MatchError`,

[2020-06-15 08:23] teamon commented on #391
Hi,

All middleware must handle both `{:ok, env}` and `{:error, ...}` results returned from `Tesla.run()`. It seems the problem is with `Tesla.Middleware.Cache` which is not part of tesla core library, but is a separate library - https://github.com/emerleite/tesla_cache. I recomment opening an issue there.

[2020-06-15 08:23] #391 closed

[2020-06-15 08:25] teamon commented on #389
Thanks @chulkilee !

[2020-06-15 08:39] teamon commented on #386
Hi, would https://github.com/teamon/tesla/pull/390 solve the issue?

[2020-06-15 08:44] teamon commented on #383
I don't think so. Once something is put in master/released version it must stay there and be supported forever (or at least until next major version).

If you simply copy & paste the wiki version into your codebase it is trivial to modify the code when needed. On the other hand, If it is a part of tesla package then you need to either fork tesla itself or copy & paste the adapter code under a diff

[2020-06-15 08:49] teamon commented on #385
Seems like an issue with adapters not handling POST request with `nil` body.

@gaiabeatrice Could you provide a test case in https://github.com/teamon/tesla/blob/master/test/support/adapter_case/basic.ex ?

[2020-06-15 08:51] teamon commented on #360
Since #372 has been merged, I think we can close this one.

[2020-06-15 08:51] #360 closed

[2020-06-15 10:45] mpinkston opened #392 ":idna module is called in Gun adapter, but not included in deps"
This is a pretty minor inconvenience, but could cause some confusion for folks trying to make requests to `'localhost'` if the `:idna` module isn't already available in deps.

[2020-06-15 10:47] teamon commented on #392
@alex-strizhakov Would you mind taking a look?

[2020-06-15 15:19] aselder commented on #386
@teamon That would fit the bill perfectly! Thanks. I'll close #387

[2020-06-16 04:15] chulkilee commented on #385
Httpc does not accept nil as body. See http://www1.erlang.org/doc/man/httpc.html

You can just pass empty string (`""`).

[2020-06-16 12:25] jayjun opened #394 "Mint adapter cannot upload more than 65535 bytes on HTTP/2"
* tesla 1.3.3
* mint 1.1.0

To reproduce,

[code]

returns `:exceeds_window_size` error.

[code]
<details>
<summary>Full error</summary>

[code]
</details>

That is because `window_size: 65535` is set initially, according to [standard](https://http2.github.io/http2-spec/#rfc.section.6.9.2), but is not updated when the server sends [WINDOW_UPDATE](https://http2.github.io/http2-spec/#rfc.section.6.9

[2020-06-17 14:01] alex-strizhakov commented on #392
is it enough that `idna` dep is mentioned in gun docs?

[2020-06-17 17:08] teamon commented on #392
I think we could mention it in adapter docs like [we do with mint](https://hexdocs.pm/tesla/Tesla.Adapter.Mint.html#content)

[2020-06-17 17:25] alex-strizhakov commented on #392
@teamon 👌 i've updated docs

[2020-06-27 05:53] mpinkston commented on #392
I'd certainly call this sufficient, thanks!

[2020-06-27 05:53] #392 closed

[2020-06-28 22:29] sezaru opened #398 "Mint adapter deadlocks GenServer using it at `handle_continue` call"
Hello, if `Mint` adapter is used during GenServer `handle_continue` call, and someone calls the Genserver during it, for some reason it always fails with `{:error, :unknown}` message and them deadlocks the GenServer itself.

Below is a sample code to trigger it:
[code]

As you can see, we initialize the GenServer and then run `:some_call` call.
`:some_call` will deadlock and never return a result.

[2020-06-29 14:50] alex-strizhakov commented on #398
Can't reproduce it 😒
Can you try to use it with `:passive` mode?
[code]

[2020-06-29 17:13] sezaru commented on #398
With passive mode it works great!

[2020-06-29 21:43] sezaru commented on #398
I wonder why you can't reproduce, I tried in three machines here (2 with ubuntu, one with gentoo) and some versions of erlang and elixir and I was able to reproduce in every single one.

Just to remove any variable from the test, I uploaded a github project which reproduces the issue, if you don't mind, can you test with it?

The link is here: https://github.com/sezaru/test_tesla

You only need to

[2020-06-29 23:41] sezaru commented on #398
I created a new issue in Mint github page since I was able to reproduce it using mint directly without Tesla

[2020-06-30 00:34] sezaru commented on #398
Hey @alex-strizhakov talking with the Mint devs, we figured out what is happening.

Basically the function `receive_message` uses a `receive do` expecting the Mint HTTP response:
[code]

But if I do a `GenServer.call` before the HTTP message arrives, this `receive do` will get the `GenServer.call` message instead, send it to `HTTP.stream` and return `:unknown` since it expects the HTTP response. T

[2020-07-08 06:29] collegeimprovements opened #401 "How to configure proxy dynamically ?"
Hi @teamon,

Thanks a lot for Tesla. It's being super useful to me.
The following is not a bug or feature request.
But rather it's a call for guidance.

I've this code:
[code]

This works great when we have proxy.
However sometimes we don't have proxy and in those cases we just want `adapter(Tesla.Adapter.Mint)` line without `proxy: @proxy` and `@proxy` attribute.

How to achieve that ?
We have `P

[2020-07-08 11:17] teamon commented on #401
Take a look at [dynamic client configuration](https://github.com/teamon/tesla#runtime-middleware)

[2020-07-12 05:49] collegeimprovements commented on #401
Thanks a lot teamon.

[2020-07-12 05:49] #401 closed

[2020-07-20 13:14] tanguilp opened #403 "Global middleware configuration"
Just an idea, I'd be glad to have feedback here: in my apps and libs I often allow configuration options to add Tesla middlewares either globally or for a specific module. For instance:

`dev.exs`:

[code]

and then in my code I build the list of middlewares:

`my_module.ex`:
[code]

The global `:tesla_middlewares` allows applying some interesting things globally:
- enabling / disabling logging in

[2020-07-22 06:55] tobstarr commented on #307
@teamon just getting started with tesla I find this behavior a bit confusing, especially when dealing with the `Content-Type` header.

I do not have any issues with downcasing all headers (e.g. when providing `headers: [{"Foo", "bar"}]` I do see the header `foo: bar`) but if I want to provide a content-type via `headers: [{"Content-Type", "bar"}]` the header is not set (but instead a blank value i

[2020-07-22 10:27] teamon commented on #398
Closing since #399 has been merged.

[2020-07-22 10:27] #398 closed

[2020-07-22 10:30] teamon commented on #394
Hi @jayjun, thanks for reporting the issue.
Would you be able to provide the fix as a PR?

[2020-07-22 12:35] jayjun commented on #394
Unfortunately not at the moment because I don’t have the bandwidth to learn Tesla internals, Mint and HTTP/2 enough to do a good job.

[2020-07-30 08:04] tanguilp commented on #293
@Exadra37 has got a point here. I recently shot myself in the foot. I have, too, a background in IT security before I switched to programming, and I'm well aware of how TLS works, and what are the Elixir HTTP libraries which are secure by default and which who are not.

It didn't prevent me from becoming convinced around 2 years ago that the default adapter of Tesla was Hackney, which is secure by

[2020-07-30 10:35] Exadra37 commented on #293
Well I am astonished that after more then a year have passed by Tesla still continue to use unsafe defaults. Why is security not taken more seriously?

[2020-07-30 10:39] Exadra37 commented on #301
So I am confused... are you saying that developer convenience is more important that security in the library or that security must be delegated to the adapters?

[2020-07-30 12:20] thiamsantos commented on #325
@teamon Would be great if the configuration would be evaluated at runtime.

In my use case I had to copy the code for logger middleware in order to be able to use the enable the logger debug via environment variables fetched used the `config/releases.exs` configuration.

I think that evaluating the configuration at runtime would make the library much more flexible. WDYT? Would you be open for a PR

[2020-08-11 12:46] tanguilp opened #408 "Generating Tesla plugs at compile time"
I'm trying to read my configuration file and generates Tesla plugs like this in a module-based client:

[code]

The idea is to add some middlewares depending on the environment.

It fails with the following error:

[code]

I remember using this kind of thing with Plug library's plug system, and it would be nice if it'd work too with Tesla.

Cheers!

[2020-08-23 08:35] wingyplus opened #410 "Proposals to provide encode/decode only form url body"
I have working on create a client for https://developers.line.biz/en/reference/social-api/#issue-access-token. I found that the api receive a request as a form url encoded and response it as a json format. Tesla provide encode/decode only for json data format but form uri doesn't. The proposals provide 2 new middleware to do exactly the same Middleware.EncodeJson and Middleware.DecodeJson does but

[2020-08-26 12:26] #410 closed

[2020-08-28 12:26] alexander7161 opened #413 "Logger Middleware does not have query variable"
When using the logger middleware and using https://hexdocs.pm/tesla/Tesla.Middleware.Logger.html#module-custom-log-format you should be able to print the query params.

Query should be added here:

https://github.com/teamon/tesla/blob/master/lib/tesla/middleware/logger.ex#L30

[2020-09-07 11:36] Fedjmike opened #415 "Middleware.Retry does not work with zero delay"
If I pass `delay` and `max_delay`  options to `Tesla.Middleware.Retry` to specify no delay, an error is thrown from `:rand.uniform`. https://github.com/teamon/tesla/blob/v1.3.3/lib/tesla/middleware/retry.ex#L96

I think this should be checked against, like so:

[code]

[2020-09-07 11:52] Fedjmike opened #416 "Middleware.Retry: custom sleep function"
I would like to be able to provide a custom sleep function, in order to log the sleeping/awaking.

[2020-09-07 19:35] britto commented on #415
Hey @Fedjmike, we've made some changes to this middleware recently (#407) to validate these options and make sure they are always positive integers. The original idea was similar, but we've decided to prevent zero in the end.

The problem with this approach is that if either `delay` or `max_delay` is zero, that `min` call will always return zero, then we will never have a different value for `slee

[2020-09-08 11:38] Fedjmike commented on #415
@britto Our use of the middleware is to retry after having resolved some state which caused the initial error. For this purpose we don't want any backoff at all.

If both `delay` and `max_delay` were explicitly set to 0, that would be a clear intention to retry with no delay. How about that?

[2020-09-09 15:35] britto commented on #415
Good point. Not sure how the library authors feel about this, but maybe a middle ground solution would be providing multiple middlewares for different retry strategies, or multiple built-in strategies which could be injected to the Retry middleware configuration. That way the code of each strategy would stay focused on a single concern, with clear and documented intentions/behaviors, and also avoi

[2020-09-11 20:17] Ch4s3 commented on #413
@teamon and/or @teamon I took a quick stab at this with this PR https://github.com/teamon/tesla/pull/422. If you have any feedback, that would be great!

[2020-09-23 11:47] alexander7161 commented on #413
Thanks @Ch4s3 !

[2020-09-23 11:47] #413 closed

[2020-09-30 12:47] VitorTrin opened #425 "DELETE should allow request body"
According to the [RFC](https://tools.ietf.org/html/rfc7231#section-4.3.5), DELETE may have a request body, but [Tesla.delete/3](https://hexdocs.pm/tesla/Tesla.html#delete/3) does not accept one.

[2020-09-30 23:29] chulkilee commented on #425
You can pass `body` as option (see [Tesla.option type](https://hexdocs.pm/tesla/Tesla.html#t:option/0))

[code]

Since it's not common to have request body in delete (as the RFC implies discouraging it), and there is a way to send body if needed..I think delete (helper) function not accepting body is okay.

[2020-10-02 15:21] VitorTrin commented on #425
Then at least I propose it to be an example.

[code]

[2020-11-15 10:34] #425 closed

[2020-11-15 10:37] teamon commented on #416
For logging purposes you can (ab)use a custom `:should_retry` option.

[2020-11-15 10:40] teamon commented on #415
@britto I think that would be a good approach to separate different retry strategies (immediate, constant, exponential, etc).

I'd be more than happy to accept such contribution.

[2020-11-15 10:42] teamon commented on #403
Configuring things globally is generally not the best idea - it's one of those things that seems nice, but turns out to be painful in the long run.

ref https://github.com/teamon/tesla/issues/167

[2020-11-15 10:42] #403 closed

[2020-11-15 10:47] teamon commented on #388
@mfeckie Implementing `Inspect` for `Tesla.Client` or `Tesla.Env` is unfortunately global, and it would require making a decision on what to show and what to hide. If, for example, it hides `authentication` header values, it's only a partial solution since one could still leak `x-my-auth-token` header. And there are still cases where you'd like to debug those headers.

Can you show an real Tesla c

[2020-11-15 10:48] #386 closed

[2020-11-15 10:58] mfeckie commented on #388
In the end I dealt with it like this

[code]

[2020-11-26 11:37] hubertlepicki opened #435 "Support multipart request streaming"
I was just wondering, as this is not obvious to me from the code nor docs, do some of the backends currently support multipart request streaming?

I had a look at the Hackney backend, and it doesn't seem to support it. The Mint backend may but I am not entirely sure.

@teamon or @sezaru can you shed some light on that for me? I am currently doing multipart streaming directly with Hackeny this way:

[2020-11-29 09:35] tomekowal commented on #241
I like the idea of Tesla using Mox.

I know Mox and its quirks. E.g. allowances system for using it in spawned processes. I know its limitations, e.g. I can't mock stuff for global processes that are part of my supervision tree. Mox is a great, well-known abstraction.

When I saw `Tesla.Mock`, I needed to start looking through code to understand how it works. I was pleasantly surprised that it use

[2020-12-15 10:30] #435 closed

[2020-12-16 08:52] hubertlepicki opened #437 "Extract Tesla.Multipart to own library?"
This is mostly question to maintainers of this library (@teamon and maybe others?), and a matter not strictly related to Tesla but more to other HTTP client libraries in general.

In short: other HTTP clients often don't have support for creation and encoding of Multipart HTTP requests. While we could add a support to creation of Multipart request bodies to other libraries, maybe better option wou

[2020-12-18 06:35] ijunaid8989 opened #438 "Uploading session to dropbox"
In past while using HTTPoison, I was doing such as

`HTTPoison.post!(url, body, headers)`

and the body was: `{:file, data}` and headers were

[code]

while using Finch and Tesla.Multipart, I am trying to do the same but I am getting error for headers.

[code]

its creating headers as

[code]

Dropbox just requires content-type `application/octet-stream`, If I just use the body and ignore the `hea

[2021-01-10 11:55] ijunaid8989 commented on #438
I am sorry for creating this issue here. It was something else and I forgot.

[2021-01-10 11:55] #438 closed

[2021-01-13 01:55] jrusso1020 commented on #381
Hi @teamon my team needed to use a proxy with the Finch adapter, I wanted to pass in the `:proxy` and `:proxy_headers` to the pool based on this issue's examples https://github.com/keathley/finch/issues/85 like so
[code]

But looking at the current Finch adapter it looks like we only expect three options

What do you think about doing something similar to this PR https://github.com/teamon/tesla/pu

[2021-01-14 01:49] sambhavsaxena commented on #367
I would like to work on this issue

[2021-01-14 11:07] tomekzaw opened #439 "Use original HTTP method to retrieve digest authorization variables"
When using `Tesla.Middleware.DigestAuth`, Tesla always performs HTTP `GET` request to retrieve authentication variables:
https://github.com/teamon/tesla/blob/586c54372cef5ff8bcb570d2c1ad06fa2b81b833/lib/tesla/middleware/digest_auth.ex#L57-L63

Example code:
[code]

Output:
[code]

Please note that when authenticated, the response status should be `405 Method Not Allowed` (because `DELETE` is not s

[2021-01-29 19:41] halostatue opened #443 "Make Tesla.Middleware.BaseUrl.apply_base/2 public"
I’m implementing an SFMC client using Tesla, and the “Enhanced” packages return two different base URLs for a client on authentication. If you know the client instance ID, you can construct these (`https://#{id}.rest.marketingcloudapis.com/` and `https://#{id}.soap.marketingcloudapis.com/`).

I’m implementing a middleware for SFMC that can both request an authentication token (if the current one h

[2021-01-29 19:49] halostatue opened #444 "Feature Request: Allow a function for Tesla.Middleware.BaseUrl"
This would allow for dynamic resolution of the base URL:

[code]

The expectation would be that the function would be a `/1` function receiving `env`. Alternatively, it could be implemented to accept either a `/0` or a `/1` (not a bad choice, either).

[2021-01-29 19:50] halostatue opened #445 "Feature Request: `Tesla.put_private/3`, `Tesla.get_private/3`"
Related to #443 and #444, I could chain some of the functionality I would use for the SFMC client / middleware that I’m building if there were an “approved” way of passing data from middleware to middleware. If this were able to happen, then I might be able to do something like this:

[code]

This would be analogous to `Conn.put_private/3` and `Conn.get_private/3`.

[2021-01-29 19:59] teamon commented on #444
Duplicate of https://github.com/teamon/tesla/pull/405

[2021-01-29 19:59] #444 closed

[2021-01-29 20:01] teamon commented on #443
There is no need for that, you can call middleware from within other middleware

[code]

[2021-01-29 20:01] teamon commented on #445
See https://github.com/teamon/tesla/issues/443#issuecomment-770019359

[2021-01-29 20:01] #445 closed

[2021-01-29 20:16] halostatue commented on #444
Yes, this is a duplicate of #405, but I have a case where I _cannot_ merely make this a runtime configuration. I have a case where I need runtime configuration of runtime configuration. In specific:

1. Making a request to resource A requires an authentication token.
2. If I do not have an authentication token, or the token has expired, I need to request a new token. I have middleware that will ob

[2021-01-29 20:18] halostatue commented on #443
Only if I’m handing off to `BaseUrl`. I have several other steps to do with this as well.

[2021-01-29 20:28] halostatue commented on #445
These appear to not be necessary as it appears that `Tesla.put_opt` can be used similarly for this.

[2021-01-31 03:27] halostatue commented on #443
This works. I would suggest that this is worth documenting somewhere.

[2021-01-31 03:27] #443 closed

[2021-02-02 02:57] halostatue opened #447 "Typing errors in `Tesla.Client`"
I was trying to use `hammox` (a typespec-aware wrapper around `mox`) with Tesla, but the types differ from the values.

Here’s the type in `Tesla.Client`:

[code]

Here’s what’s returned in an `inspect`:

[code]

It feels like `adapter` should be specified as:

[code]

[2021-02-10 18:19] gaiabeatrice commented on #447
Hi @halostatue,
I am not the creator of the library. I am just an enthusiastic user. I also successfully use Tesla and I use Hammox for testing its calls.

Here is an example of one of my calls and it successfully works, I thought it can help you.

[code]

And this is my Helper module looks like:
[code]

[2021-02-10 19:21] halostatue commented on #447
My guess is that this is working because you’re returning a blank `Tesla.Client` as part of the response, whereas I’m returning the values that are passed _in_ for the `__client__` value. I’m doing something like

[code]

Specifically, Hammox is validating that `Tesla.Client.adapter` conforms to `module | {module, any} | (Tesla.Env.t() -> Tesla.Env.result())`, which it doesn’t. It conforms to `mfa

[2021-02-10 23:17] chulkilee commented on #447
That's because `adapter` type is for argument being passed to Tesla functions (for an adapter), but Tesla keeps it with runtime - see following lines

https://github.com/teamon/tesla/blob/v1.4.0/lib/tesla/builder.ex#L174

https://github.com/teamon/tesla/blob/v1.4.0/lib/tesla/builder.ex#L197

So the fix would be one of followings

- Fix the `adapter` type in the struct by adding a case for `{module

[2021-02-11 00:44] halostatue commented on #447
If the `mfa` form is an internal implementation detail, then the _right_ choice would probably be to change the internals to keep it as `{module, [opts]}`. The _quick_ choice would be to add `{module, :call, any}` to the specs.

[2021-02-11 02:54] chulkilee commented on #447
To make the change backward compatible, we should fix the type spec (changing from `adapter | nil` to `Tesla.Env.stack() | nil`), not changing the value in the struct (although it *is* different from the spec). @halostatue could you test the change would remove the

Maybe there are slight performance penalty to convert the ma from to mfa if it's being called for every request?

Anyway, created #44

[2021-02-11 03:39] halostatue commented on #447
Um. `Tesla.Env.stack` is a list (`@type stack :: [{atom, atom, any} | {atom, atom} | {:fn, (t -> t)} | {:fn, (t, stack -> t)}]`).

I think this would be better as

[code]

I’ll be able to test this tomorrow.

[2021-02-21 15:11] sezaru opened #450 "Mint reduce_responses doesn't handle all possible responses"
Mint's adapter `reduce_responses/3` https://github.com/teamon/tesla/blob/cc18e12226ef5b61f19daf7cc85cb8f94ae428b1/lib/tesla/adapter/mint.ex#L327-L340 doesn't handle all possible returns `HTTP.stream/2` can return.

The returns missing are:
`{:error, request_ref(), reason :: term()}`
`{:pong, request_ref()}`
`{:push_promise, request_ref(), promised_request_ref :: request_ref(), headers()}`

The las

[2021-02-23 15:02] rustra opened #451 "Proxy for Gun HTTP client"
Hi there,

i'm trying to use proxy with Gun HTTP client and it does not work for me for both public SOCKS5 proxy and local tor service:
[code]

The result I have is `{:error, :timeout`. Am I doing something wrong? Could you please help me with that?

Thanks in advance

[2021-02-25 01:23] sleipnir opened #453 "SSE Client support"
First of all, I would like to praise this excellent http library.

I need to implement an http SSE Server-Sent-Events client and I would like to know if this is possible with this library. If so, is there an example available? If not, could you tell me any alternative to develop an SSE client in Elixir? I know that there are some options for server side implementation, but I couldn't find any exam

[2021-03-01 13:03] alex-strizhakov commented on #451
hey!

A proxy can be used only for the gun `master` branch. From [gun docs](https://hexdocs.pm/tesla/Tesla.Adapter.Gun.html)

And seems that your configuration is not correct. Should work in this way, if you are using gun from `master` branch:

[code]

[2021-03-13 18:49] rustra commented on #451
Hi @alex-strizhakov,

Thanks for your reply! Indeed it's necessary to use the master branch for Gun otherwise the result would be clear: `{:error, "socks protocol is not supported"}`.
I've tried different possible formats for configuring proxy (`{:socks5, {127, 0, 0, 1}, 9150}`, `{:socks5, 'localhost', 9150}` for local Tor service). All the times I had `{:error, :timeout}` while I could use Tor as

[2021-03-15 21:19] yukster commented on #241
If Tesla.Mock isn't going away it seems like it's worth making it fail if a request is mocked an not called. Would a PR to do so be welcome? Is there some technical reason why this would be hard/impossible?

[2021-03-17 13:50] llucasreis opened #455 "URI problem with brackets"
Hello everyone!

I'm learning Elixir and I'm using this library to access [Kitsu API](https://kitsu.docs.apiary.io/) to retrieve some anime information.

To search for an anime, I need to use a route like this: `https://kitsu.io/api/edge/anime/?filter[text]=naruto`

And here is a example of my code:

[code]

When I try to execute it, it returns an error `{:error, :invalid_uri}`, but if I change th

[2021-03-17 23:28] llucasreis commented on #455
For anyone with this problem, you can represent the brackets in a percent-encoded format.

So, for example, instead of
`"/anime/?filter[text]=naruto"`

you can use
`/anime?filter%5Btext%5D=naruto`

And it'll work perfectly. I'll close this issue for now

[2021-03-17 23:28] #455 closed

[2021-03-22 23:32] JPYamamoto opened #458 "Adding information to request/response"
How can I put additional information in a `Tesla.Env` that is not necessarily part of the request/response?

For example, I would like to add a timestamp when the response was received. I can use a Middleware to modify the response, but I don't think the parameter fits in any of the existing [fields](https://hexdocs.pm/tesla/Tesla.Env.html#module-fields) of the struct.

Maybe the example is not th

[2021-03-24 03:36] garthk opened #459 "Add c:Tesla.Middleware.init/1"
Further to #129, I might be able to shave a few hundred microseconds off each outbound request in the OpenTelemetry integration if I could do some work just once. Usual pattern, pre-processing the `opts` subsequently handed to `c:call/3`?

[2021-03-24 09:49] teamon commented on #458
You can use `env.opts` - see how [`Tesla.Middleware.KeepRequest`](https://github.com/teamon/tesla/blob/master/lib/tesla/middleware/keep_request.ex#L30) does it.

[2021-03-24 09:49] #458 closed

[2021-03-24 10:16] #381 closed

[2021-03-24 10:48] teamon commented on #453
The best way would be to implement [response streaming](https://github.com/teamon/tesla/issues/271) and a SSE middleware that could parse the stream into proper data structures (one per event)

[2021-03-24 11:05] #439 closed

[2021-03-24 11:19] teamon commented on #459
The problem with `init/1` is that Tesla is fully stateless. It does not start any processes on its own and is not part of supervision tree. You can [create the client dynamically from scratch](https://github.com/teamon/tesla#runtime-middleware).

Having said that, I'm open for any suggestions here. Also if you post your code maybe we can figure out what's slowing it down. (In my personal experienc

[2021-03-24 11:21] teamon commented on #450
@sezaru Thanks for reporting this. Would you be able to provide a PR to fix this?

[2021-03-24 12:13] #447 closed

[2021-03-24 12:28] teamon commented on #447
Thank you all ❤️ 💚 💙 💛

I just merged #449. Please try again with tesla `master`.

[2021-03-24 12:42] teamon commented on #437
I'm not a big fan of microlibraries. Having a single package for all the adapters and middleware was one of the main goals of tesla to prevent 10-20+ packages and dependency hell.

Elixir ecosystem provides an excellent support for optional dependencies which tesla relies on heavily, having only one required dependency - mime - which you most probably already have in your app anyway. I do not thin

[2021-03-24 13:05] sleipnir commented on #453
Cool. Thanks, I'll take a look at the response streaming

[2021-03-25 08:45] teamon commented on #453
I'll close this issue for now, lets continue in #271

[2021-03-25 08:45] #453 closed

[2021-04-05 21:26] adamz-prescribefit commented on #155
This is just for people looking how to do it with a later version of tesla. To make it work with 1.4:

[code]

[2021-04-17 22:50] Exadra37 commented on #293
I keep being downvoted and libraries depending on Tesla continue to be vulnerable:

[code]

That request should fail, but once it uses Tesla with the insecure default then it succeeds.

https://github.com/appunite/link_preview/issues/17

[2021-04-29 18:37] bsollish opened #464 "Same POST works in HTTPoison, but not in Tesla"
This works fine:
{:ok, response} = HTTPoison.post(@url, "show catalogs", [{"X-Presto-User", "test-user"}])

But with this, I get 400 bad request:
{:ok, response} = Tesla.post(@url, "show catalogs", headers: [{"X-Presto-User", "test-user"}])

I don't understand how they are different (or what I have to add/change to get the Tesla version to work)

Thanks

[2021-05-05 08:06] teamon commented on #464
Hi,

It's hard to tell without any more details.

Please note that by default tesla uses Erlang's built-in `httpc` adapter and HTTPoison uses `hackney` under the hood.
I'd recommend plugging in `Tesla.Middleware.Logger` with debug enabled and inspect the request/response details.

[2021-05-23 05:54] queer opened #466 "JSON middleware does not (seem to?) handle `Transfer-Encoding: chunked` correctly."
I'm using Tesla to write a Docker client. The [route for pulling/creating an image](https://docs.docker.com/engine/api/v1.41/#operation/ImageCreate) returns chunked JSON and the Tesla JSON middleware doesn't handle it correctly.

**Expected result:**

Tesla handles the chunked JSON properly and returns it as a list.

<details>
<summary>curl example</summary>
<pre><code>
▶  curl -v -XPOST --unix-so

[2021-05-23 07:36] chulkilee commented on #466
I believe the tesla json middleware expects a single json document in the whole response - but the Docker API returns a series of json documents separated by a new line.

If you need to handle each chunk in real time - I'm not sure Tesla supports it.

If you want to parse the doc - you may write own middleware to handle this. This is not a json format :)

[2021-05-23 10:43] programisti commented on #466
I fixed this by adding this line to config
[code]

[2021-05-23 10:43] programisti commented on #464
I fixed this by adding this line to config, it changes default adapter from  `httpc` to `hackney` like HTTPoison does
[code]

[2021-05-23 22:04] queer commented on #466
Right, this is mainly what I was wondering about. It'd be nice if Tesla supported it, but ofc it's not required since I can work around it with HTTPoison directly. Feel free to close if this sort of feature is not in-scope for Tesla \^\^

[2021-05-24 00:29] chulkilee commented on #466
BTW what is the content-type of the response? It should not be json since it's json stream not json. See https://en.wikipedia.org/wiki/JSON_streaming for several formats for json streaming.

Writing new middleware is easy, so I'd stick with Tesla if you need to use HTTPoison only for this.

Check out https://github.com/teamon/tesla/blob/v1.4.1/lib/tesla/middleware/json.ex#L101 where it parse the w

[2021-05-24 00:37] queer commented on #466
It is, in fact, `application/json` :D I imagine Docker expects clients to notice the `Transfer-Encoding` header and handle it appropriately.

[2021-05-24 06:34] chulkilee commented on #466
Oh, I missed that part. Thanks for the curl example!

I don't think that is the correct expectation since transfer-encoding is a way to encode a payload, not a way to encode a sets of payloads in one request. Seems like Docker has to do this for old clients (https://github.com/moby/moby/pull/8482) :(

[2021-05-24 06:43] queer commented on #466
oof, that's incredibly unfortunate and explains the behaviour ):

[2021-05-25 09:28] #464 closed

[2021-06-03 03:37] jared-mackey opened #467 "Proper way to handle closed connections?"
Hi, first thanks for the awesome library. Love this project and all the work put into it to make it great. Thank you so much. (Ditto for Mint and Finch 😁)

Ok, onto the meat of the issue. When using the finch adapter we are seeing mint socket closed errors and was wondering the best way to handle these. The issue is two part though:

1. There was previously a bug in mint that didn't handle closed

[2021-06-03 14:10] keathley commented on #467
@jared-mackey A couple of questions:

* Quick check that you have the latest versions of Mint and Finch installed.
* Do these connection closed errors occur on a regular cadence? Or are they infrequent?
* Are you using http/1.1 connection pools?
* Do you have a maximum idle time set on your connection pool? If this is not set to a value lower than any potential idle times that the server has then

[2021-06-03 21:39] jared-mackey commented on #467
@keathley

- We have hit this in several scenarios. The one I am on currently is a bit dated (1.2.0 for mint) so I'll update and do some more testing. However, I know others were on 1.2.1 and hit this but I can't verify for your other questions.
- These are pretty frequent. It seems like a decent percent (>10%).
- Just the default Finch configuration.
- We do not

I'll update the versions for the

[2021-06-03 23:04] jared-mackey commented on #467
@keathley I have updated to the latest versions from hex for Mint, Finch, Tesla and Nimblepool and the issue has persisted. I can't seem to reproduce it locally but the gist of what we are doing is this: Inside a Phoenix request we start a task that makes an API call over to the have I been pwned API. We do not await the task inside the Phoenix request. (We are not linking the task, so it should c

[2021-06-04 16:01] jared-mackey commented on #467
After seeing some trace data on these it is clear the request is not being sent based on the duration of the trace being sub millisecond. So I don't think it is the same as the issue in mint previously reported. To work around this, I am going to add a retry middleware to our Telsa pipeline.

[2021-06-09 07:50] maltoe opened #468 "Middleware for Phoenix.Ecto.SQL.Sandbox"
Hello Tesla team,

thanks for making this great library!

We're using Tesla to run integrated tests against our API endpoints. To make these `async: true`, we're using `Phoenix.Ecto.SQL.Sandbox` to share the sandbox transaction with the endpoint (request) process. This tiny middleware helps us doing this:

[code]

Would you be interested to include this as a middleware shipped with Tesla? We would

[2021-06-10 17:26] mdsebald opened #469 "Error Returned by Tesla.Adapter.Finch.request/6 is Not Always an Exception"
I don't know if the problem is here or in Finch, so I'll start here, but feel free to direct me elsewhere.

The :error tuple returned by Finch.request() is not always an Exception, but  Finch Adapter request() is expecting {:error, %Exception{}} on an error.

And so I get:
[code]

[Relevant Code](https://github.com/teamon/tesla/blob/master/lib/tesla/adapter/finch.ex#L63-L69)

[2021-06-14 09:15] teamon commented on #469
I think we could pass the underlying mint error as is without calling `Exception.message/1`

@adriankumpf Any thoughts of this?

[2021-06-14 10:02] adriankumpf commented on #469
According to the [function spec](https://hexdocs.pm/finch/Finch.html#request/6) Finch should always return an `Exception`. Therefore, an issue in the Finch repo might be a good idea.

But in general, I see no reason why we shouldn't pass on the underlying error.

[2021-06-22 20:21] lukebakken commented on #469
Finch `0.8.0` will address this issue - https://github.com/keathley/finch/issues/142

[2021-06-23 22:01] jotakami opened #470 "Reusing Mint connections from the adapter itself"
I'm trying to implement some basic connection pooling using the Mint adapter, and I thought it would be super easy to just reuse the connections that the adapter opens rather than rewriting all of that logic. The adapter does a good job of hiding the connection though, and it seems like the only way to expose it is to use the `body_as: :chunks` option and extract it from the `body` map. It would b

[2021-06-24 15:37] mdsebald commented on #469
Finch 0.8.0 released.  Closing issue

[2021-06-24 15:37] #469 closed

[2021-06-25 17:37] nateless opened #471 "Getting very slow reply within Tesla"
We have an internal API call, that is being processed by curl within 10 seconds, it spits an JSON of around 20mb. With Tesla.get we get a reply within 52-56 seconds.

[code]

I've tried to use pure hackney and got reply within the same range of 10 seconds:
`
:hackney.request("GET", "http://1.1.1.1/api?cid=111", [], '', [recv_timeout: 60_000])
`

Can you help us pinpoint the issue on loosing ~50sec

[2021-06-25 17:42] teamon commented on #471
Since there isn’t any body processing when you are not using the JSON middleware, I’d start with turning off debug logging, then remove telemetry, then remove logging completely and measure outside of the call. If none of that helps, you might need to do some profiling with tools like eprof.

[2021-06-25 18:06] nateless commented on #471
Nothing helped so we did profiling. This call took 86%
`
hackney_http:execute/2                                                   11054    86.48  41194582  [   3726.67]
`

[2021-06-25 18:11] teamon commented on #471
Interesting 🧐

Can you profile the bare hackney version too?

That call is internal to hackney, tesla does not use this function directly.

Just in case, are you testing the same version of hackney/elixir/erlang/os etc and is the hackney version the latest one?

[2021-06-25 18:15] nateless commented on #471
yeah, to be honest on my local macbook the same code takes proper 10 seconds, on a linux in a docker env it processes that code for 52 seconds. I get absolutely different profiling results. The only difference is that on macbook elixir installed with brew and no docker container.

Dockerized version uses `elixir:1.12-alpine`

mix locked with tesla "1.4.1" and hackney "1.17.4"

[2021-06-25 18:23] nateless commented on #471
Hmm, you are right seems its a hackney problem, before I didnt read the body. On reading the body it spends most of the time.

prof code:
[code]

[2021-06-25 18:25] teamon commented on #471
In this case, we have two completely different environments. I’d recommend to reduce the problem, i.e. run the exactly same docker container on both OSes WITHOUT volume mounts and compare execution times. Make sure the API endpoint is stable (preferable running in localhost or close network). Run the code a few times to rule out network inconsistencies. Check the CPU usage and iowait. In case you

[2021-06-25 18:27] teamon commented on #471
Compare hackney time with raw curl in terminal to get a baseline. Maybe the API itself is slow.

[2021-06-25 18:29] nateless commented on #471
Thanks. API is fast. Server is a dedicated 256gb ram, nvme hardware. We get the same speed in docker with curl/wget (10s). Which makes me think it's not the docker issue.

[2021-06-25 18:31] teamon commented on #471
You can quickly try with other adapter like finch or gun and see if there is any difference.

[2021-06-25 18:48] nateless commented on #471
meh, after I've started reading the body it started to lag the same on macbook.

Mint takes 15 seconds with JSON decoding.

[2021-06-25 18:52] teamon commented on #471
Sounds like we got a winner.

Fortunately you can just swap the adapter when using tesla ;)

I recommend Finch (which is based on mint) to get the same functionality as hackney (pooling).

[2021-06-25 20:00] nateless commented on #471
Yeah, that's why we are using Tesla - that's not the first issue with hackney unfortunately. Thanks for your help!

[2021-06-26 10:06] #471 closed

[2021-07-08 04:11] RyanSiu1995 opened #475 "OpenTelemetry Middleware Integration"
OpenTelemetry community is getting bigger and bigger.
Like what we have in the telemetry middleware,
we can have a OpenTelemetryMiddleware to support that integration.

[2021-07-13 11:22] wingyplus commented on #475
Sound interesting. I heard that opentelemetry has a bridge for telemetry library (https://github.com/opentelemetry-beam/opentelemetry_telemetry). The other library base on that library (such as phoenix integration https://github.com/opentelemetry-beam/opentelemetry_phoenix/blob/main/mix.exs). I think we can start from another repo to see how hard to integrate with. ;)

[2021-07-13 11:25] wingyplus opened #476 "Add support for telemetry 1.0"
The telemetry library has been release v1.0 a few days ago. I think we should have a soft dependency to let users migrate to v1.0. I thought that should use `~> 0.4 or ~> 1.0` in mix.exs since 1.0 is just a bump version from `0.4`. I can create PR to add support for this but want to hear your feedback first.

[2021-07-13 12:35] thiamsantos commented on #475
Tesla already has a `telemetry` middleware. I think would be better to just integrate OpenTelemetry with those telemetry events that tesla publishes as @wingyplus mentioned. As it allows tesla to remain unopinionated to what metrics/tracing protocols and services it supports.

[2021-07-14 21:40] #470 closed

[2021-07-15 11:33] BasileNouvellet opened #480 "`no_return` typespec in `Tesla.Mock.mock/1` & `Tesla.Mock.mock_global/1`"
Hey,

Just wondering why [`Tesla.Mock.mock/1`](https://github.com/teamon/tesla/blob/v1.4.2/lib/tesla/mock.ex#L132) & [`Tesla.Mock.mock_global/1`](https://github.com/teamon/tesla/blob/v1.4.2/lib/tesla/mock.ex#L141) return type is `no_return`?

It emits a Dialyzer warning `has no local return` when using those functions in a dedicated function (not if used directly in `setup_all` though):

![image](

[2021-07-20 08:52] nmbrone opened #483 "Question: Custom middleware for unwrapping responses"
Hi there 👋.

First of all many thanks for a great library.

I like to have a common response handler that does the response status check and unwraps the body.

It can be easily achieved by implementing a middleware:

[code]

Obviously, it breaks the middleware contract since it returns `{:ok, any()}` instead of `{:ok, %Tesla.Env{}}`. But as long as you keep such middleware at the tail of the respo

[2021-07-26 13:58] teamon commented on #483
Middleware must be composable and conform to a single interface, which is `(%Tesla.Env{}, stack, opts) -> {:ok, %Tesla.Env{}} | {:error, any}`.

If you want to remove some code duplication, I recommend doing something similar to this:

[code]

then in client

[code]

[2021-07-26 14:05] #476 closed

[2021-07-26 14:13] teamon commented on #475
Correct me if I'm wrong, but after reading [opentelemetry_plug](https://github.com/opentelemetry-beam/opentelemetry_plug/blob/master/lib/opentelemetry_plug.ex) I see that it attaches to Plug's telemetry events.

The same way there could be `opentelemetry_tesla` that would attach to telemetry events sent from tesla's `Telemetry` middleware.

So, if anything, there should be a separate `opentelemetr

[2021-07-26 14:19] teamon commented on #468
This seems very specific to your application (especially the part about using user agent header).

However, if you provide some description I'd be more than happy to add it to tesla [Cookbook](https://github.com/teamon/tesla/wiki)

[2021-07-26 14:22] #466 closed

[2021-07-26 14:39] wingyplus commented on #475
@teamon correct. One thing I'm not sure is about tracing. In the plug example, they inject a context header to the plug (name Propagation). I'm not sure how to implement it with tesla but I guess it can be done by tesla middleware.

[2021-07-26 15:51] teamon commented on #480
@BasileNouvellet Could you check with tesla from `tt/noreturn` branch? https://github.com/teamon/tesla/pull/484

[2021-07-26 22:58] RyanSiu1995 commented on #475
In general, most of the instrumentors are implemented separately.
The instrumentors itself can be implemented in various way. I have implemented the gRPC instrumentor as an interceptor, like middleware here, before.
If we want to keep using the Erlang telemetry as the base telemetry, I can kickoff the opentelemetry_tesla project and implement the basic functionality quickly.

[2021-07-28 16:18] BasileNouvellet commented on #480
I confirm that this resolves the issue, thanks!

[2021-07-28 22:15] maltoe commented on #468
Well it's not really specific to our application, but it's the default header [`Phoenix.Ecto.SQL.Sandbox`](https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/sql/sandbox.ex#L172) uses to transmit the encoded metadata.

It seems I can edit pages in the cookbook, and you're probably right that it is the better place for it, so I'll give it a try. Thanks!

[2021-07-28 22:30] #468 closed

[2021-08-04 09:17] #480 closed

[2021-08-06 06:10] pankaj-ag commented on #151
Is there any solution for this one? I have tried all the approaches and still facing the same issue.

[2021-08-12 19:30] jasonbarbee commented on #151
I got hackney working with this as middleware, it works - I'm pulling in a 10 second request from Telsa.
Mix versions - Telsa 1.3.0, Hackney - 1.16
[code]

[2021-08-21 13:26] crova commented on #450
Hello everyone.
@teamon , in a project I'm working on we bumped on this issue, specifically the missing clause for `{:push_promise, request_ref(), promised_request_ref :: request_ref(), headers()}`.

To be honest, I'm somewhat lost on how to properly fix this but I would be happy to provide a PR handling those 3 cases if you're willing to enlighten me a bit.

For now, I managed to get our project

[2021-08-30 16:55] #376 closed

[2021-08-30 19:08] teamon opened #487 "OpenApi Generator"
## What is this all about?

Generate full tesla-based API client based on Open Api specification file, like this:

[code]

[Tweet](https://twitter.com/iteamon/status/1432361728029888522?s=20) that started it all.

## Why?

We already have the great [open_api_spex](https://github.com/open-api-spex/open_api_spex) library to generate API spec from Phoenix apps. We should also have an easy way to use

[2021-09-10 07:51] teamon commented on #325
Closed with #409

[2021-09-10 07:51] #325 closed

[2021-09-10 07:52] teamon commented on #367
Hey @sambhavsaxena, are you still up for this one?

[2021-09-10 07:53] #388 closed

[2021-09-10 07:54] teamon commented on #379
Hey @aselder, do you still want to give this a try? :)

[2021-09-10 07:58] #483 closed

[2021-09-10 08:01] teamon commented on #357
I think we should move on with the passive mode for mint adapter, and direct people to use finch for persistent connections & pooling.

Any thoughts on that?

[2021-09-10 14:56] ericmj commented on #357
@teamon I think that's the right approach.

[2021-09-15 21:51] feld commented on #151
This is exactly what I expected Tesla.Middleware.Timeout to do: set the appropriate timeout option for each adapter or implement one if the adapter doesn't have one. I wonder how many users out there have set a timeout value but don't realize it isn't having the effect they expect because they haven't encountered a failure case yet? And when they do, they'll be rather confused why the timeout beha

[2021-09-20 10:58] maennchen commented on #487
@teamon I was trying to achieve something similar (it is by no means finished). Maybe you'll find some inspiration?

https://github.com/jshmrtn/openapi-compiler

[2021-09-27 12:11] indrekj commented on #475
There's https://github.com/ricardoccpaiva/opentelemetry_tesla which now with some setup integrates with opentelemetry and can do context propagation.

[2021-10-11 07:25] obsidienne opened #492 "Refresh Token Middleware"
Hi,

Is it a good practice to use create a middleware to refresh an access_token.
The use case is the Spotify Web Api, where when the access token is expired, we need to send the refresh token in encoded in application/x-www-form-urlencoded to /api/token endpoint ([ref doc](https://developer.spotify.com/documentation/general/guides/authorization-guide/)) ?

Creating this middleware will need to ad

[2021-10-15 10:40] jalberto opened #494 "support Phoenix 1.6"
in a fresh generated Phoenix 1.6 project:

[code]

[2021-10-18 01:51] xinz commented on #494
Hello @jalberto, there should be a new version of hex.pm release to fix this issue, so far you can try to use the master branch of the repo.

[2021-10-18 13:15] kanes115 opened #495 "Finch does not format headers"
It might come from misunderstanding of adapters but I don't see a reason why Finch should not format headers in the same way that Hackney does [here](https://github.com/teamon/tesla/blob/master/lib/tesla/adapter/hackney.ex#L38). This impedes the ability to use middleware like JSON (which checks `content-type` header but not `Content-Type`).

[2021-10-18 22:17] jalberto commented on #494
Thanks!

El lun., 18 oct. 2021 3:52, xinz ***@***.***> escribió:

[2021-11-07 01:20] brenomaia commented on #367
Didn't mean to go over your head @polvalente , I stumbled across this a few weeks a go and decided to try to fix it but hadn't seen your comment.

[2021-11-07 01:20] polvalente commented on #367
No harm done!

[2021-11-11 21:29] florianb opened #501 "** (FunctionClauseError) no function clause matching in anonymous fn/2 in Tesla.Adapter.Mint.reduce_responses/3"
Hi – i stumbled over this error in Tesla i would like to fix:

[code]

I guess the Mint adapter is missing some of the possible HTTP2 responses as listed in https://hexdocs.pm/mint/Mint.HTTP.html#stream/2-responses – might that be the reason? I might open a PR to fix it if you don't mind.

[2021-11-16 11:25] dsnipe commented on #494
Any news about when it could be released?

[2021-11-21 15:50] #501 closed

[2021-11-24 00:10] hez commented on #494
Bump

[2021-12-01 08:44] andyduong1920 commented on #494
👋

[2021-12-06 10:25] Yarnus commented on #495
eh...Hey @teamon I'm just trying to figure it out.

From my understanding,  `Finch` is built on top of [`Mint`](https://github.com/elixir-mint/mint)

Therefore I found `Mint` has realted handling:
- [HTTP1](https://github.com/elixir-mint/mint/blob/1ea7731d921840ad75a47fa9415525c3d94b9980/lib/mint/http1.ex?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSo

[2021-12-09 07:29] sineed opened #505 "Explicit allowances for Tesla.Mock"
Hello and thanks for such great tool!

I just started using it and found that `Tesla.Mock` doesn't have explicit allowances like in [Mox](https://hexdocs.pm/mox/Mox.html#module-explicit-allowances). There is only global mode that makes impossible to run tests asynchronously.

I didn't go through the source code yet but I'm wondering if this feature is in the backlog. If yes then I could find some

[2021-12-10 12:37] sineed commented on #505
closing due to https://github.com/teamon/tesla/issues/241

[2021-12-10 12:37] #505 closed

[2021-12-16 18:15] feld opened #506 "Finch request streaming"
The Finch adapter was added before Finch gained streaming support: https://github.com/sneako/finch/pull/107

[2021-12-17 09:07] dfrt82 commented on #494
Running hex 1.0.1 and generating a phoenix 1.6.5 project you can use tesla 1.4.3 by downgrading mime with
`mix deps.update --all`
However, not sure what's the big deal about relasing a 1.4.4 with the change to mix.exs on master so it works with mime 2.x

[2021-12-17 11:56] teamon opened #507 "Multiple operations modules"
Multiple operations modules:

Excerpt from docs generated for Docusign spec

[code]

This could be split into multiple modules, like:

[code]

[2021-12-17 11:57] #507 closed

[2021-12-17 14:01] teamon commented on #506
@feld Would you like to implement it?

[2021-12-17 14:16] teamon commented on #495
@kanes115 Could you provide an example?

I did a quick check and everything seems to be just fine:

CamelCase (original) headers with curl

[code]

lowercase headers with Finch:

[code]

[2021-12-17 14:21] teamon commented on #492
In general - yes, creating a custom middleware to handle token refresh is the way to go.
At the same time, every API is different, so I don't think we can have any generic refresh token middleware, unless built for some well-defined common specification.

[2021-12-17 14:21] #492 closed

[2021-12-17 14:22] teamon commented on #475
Closing this one, feel free to open if there is anything missing or actionable.

[2021-12-17 14:22] #475 closed

[2021-12-17 14:23] teamon commented on #467
Closing this one, do let me know if there is anything actionable on tesla side.

[2021-12-17 14:23] #467 closed

[2021-12-17 14:24] teamon commented on #451
Closing this one as not actionable on tesla side - please open an issue in gun repo if this is still a problem.

[2021-12-17 14:24] #451 closed

[2021-12-17 14:24] #459 closed

[2021-12-17 14:25] #437 closed

[2021-12-17 14:26] #416 closed

[2021-12-17 14:26] teamon commented on #450
@crova Could you open a PR against current tesla master with the necessary changes?

[2021-12-17 14:29] teamon commented on #415
Setting `delay: 0` will cause the delay to always be 0.

[2021-12-17 14:29] #415 closed

[2021-12-17 14:30] teamon commented on #383
@stefanchrobot 👋

[2021-12-17 14:34] teamon commented on #385
I think it makes sense to:
- [ ] Add a basic adapter test case to sending POST request with `nil` body
- [ ] Handle `nil` body for adapters that fail

[2021-12-17 14:36] teamon commented on #370
Confirmed:

[code]

[2021-12-17 14:39] teamon opened #509 "Mint passive mode"
## tl;dr

Switch `Tesla.Adapter.Mint` to use passive mode, as suggesting in https://github.com/teamon/tesla/issues/357#issuecomment-916967770

## (Potentially) related issues:
- https://github.com/teamon/tesla/issues/357
- https://github.com/teamon/tesla/issues/450
- https://github.com/teamon/tesla/issues/394
- https://github.com/teamon/tesla/issues/385
- https://github.com/teamon/tesla/issues/370

[2021-12-17 16:27] teamon commented on #494
v1.4.4 has been released https://github.com/teamon/tesla/releases/tag/v1.4.4

[2021-12-17 16:27] #494 closed

[2021-12-21 19:08] crova commented on #450
Sure @teamon , the same one I linked above?

[2021-12-21 21:29] teamon commented on #450
Yes, with the patch that fixes the issue :)

[2021-12-21 22:07] crova commented on #450
I'll open it by tomorrow.
This week has been rough.

[2022-01-27 01:50] gordalina opened #516 "Middleware configuration"
First of all, let me thank you for such a great piece of software, it's really a fun library to work with.

In this issue, I want to talk about the use case where I want the ability to add logging and telemetry to every single tesla request in my application.

As a user of libraries that depend on tesla (1), or libraries that depend on other libraries that depend on tesla (2), it's cumbersome if n

[2022-02-26 09:40] yordis commented on #487
@teamon how are you thinking to deal with `$ref` and remote `$ref` in schemas and multiple files to define the spec?

[2022-03-06 11:52] MeerKatDev opened #521 "Json decoding"
I'm having an issue with the json decoding, in the tests Tesla isn't giving back a json, but a string. This is the logging result:
[code]
The request is a POST request with the following headers:
[code]
and this is how the client is built:
[code]
Jason is listed in the dependencies.

[2022-03-12 13:08] kingdomcoding opened #522 "Deps issue"
Hello.

Well done on this project.
Please consider updating to dependencies.

I'm unable to resolve the dependency conflicts in my phoenix 1.6 project.

[2022-03-15 10:44] mhaagens opened #524 "unexpected token: "µ""
[code]

[2022-03-17 07:00] MeerKatDev commented on #521
Is this library still supported? I tried to clean and recompile tesla, but to no avail. Also, there isn't any indication in the compilation process telling me that it works.

[2022-03-17 07:16] MeerKatDev commented on #521
Also, when I put exactly `{:jason, ">= 1.0"}` in `deps`, mix gives an error

[2022-03-26 14:56] yordis opened #525 "Tesla Pipelining Standarization"
### Context

As of today, they are multiple packages that have a similar architecture of having some Pipelining layer and Routing of messages, for example:

- Tesla
- Plug
- Commanded
- Goth

Most have a different way of registering the routing and the pipelining.

### Problems

- They all have different APIs, so it may be an opportunity to be closer to Plug (since it is the most popular) across t

[2022-03-26 14:58] yordis commented on #525
@slashdotdash I hope you don't mind the ping since you developed something similar for Commanded. The intention is to find out the level of indirections and seek alignment if possible.

[2022-03-28 17:50] moomerman commented on #524
FWIW I had the same error compiling on elixir 1.4.0-dev (main)

[2022-04-04 19:55] Straffern commented on #521
Did you find a solution?
I seem to have the same problem, and am unsure if I'm using it wrong.

Piping the response body into Jason.decode works fine.

[2022-04-08 12:08] slapers commented on #394
If someone hits this error until this is solved, as a temporary solution
you can force the connection to be http1 by adding some options for the adapter:

[code]

[2022-04-23 03:24] gordalina commented on #516
@teamon is there any interest in solving this?

[2022-05-06 08:04] thiagopromano opened #527 "Add `:max_body` to Hackney Adapter"
To avoid filling the memory when response is huge and not expected, Hackney has an option to read the body up to a specified `MaxLength`.

https://github.com/benoitc/hackney/blob/3f6d481ffbf4ddacc1c7fe1614030a06f39e04cc/src/hackney_response.erl#L271

What do you think of adding this option to the Hackney adapter?

[2022-05-06 08:18] thiagopromano commented on #527
https://github.com/teamon/tesla/pull/528

[2022-05-06 22:13] fbergero commented on #385
Hey @teamon I'm now to tesla but would like to help on this issue. I'll try to first create the test that fails. Any other guidance?

[2022-05-06 22:36] fbergero commented on #385
I've just seen that @gaiabeatrice has open a PR for this so I'll find some other issue to work on

[2022-05-06 23:19] fbergero commented on #509
@teamon I'd like to tackle this one

[2022-05-08 07:29] teamon commented on #271
I'd go with `Tesla.get(client, "/path", response: :stream)` (instead of `stream_response: true`)

[2022-05-08 07:40] #495 closed

[2022-05-08 07:43] teamon commented on #516
All things considered I think this would be a good opt-in feature. We'd need to think of all the corner cases, like e.g. what happens when you put Telemetry into global middlewares but there is one already defined locally etc, but I still think it's worth pursuing.

[2022-05-08 07:45] teamon commented on #521
@MeerKatDev @Straffern Can you provide an executable example?

[2022-05-08 07:46] teamon commented on #522
Hi, please provide an example of dependencies not resolving and open a new issue, thanks!

[2022-05-08 07:46] #522 closed

[2022-05-08 07:47] teamon commented on #524
Fixed in https://github.com/teamon/tesla/pull/519

[2022-05-08 07:47] #524 closed

[2022-05-08 07:51] teamon commented on #525
Just FYI - I did some PoC some time ago how could Tesla look like if it was based on Plug.Conn (and reusing as much of Plug as possible) and the results were not very good - Plug is focused on server side (duh) and Tesla on client side and they do not really fit well together.

Totally untested 🐉-inside random piece of code below:

[code]

[2022-05-08 14:34] fbergero commented on #509
@teamon We basically want to change the default `active` mode to `passive`  here https://github.com/elixir-tesla/tesla/blob/master/lib/tesla/adapter/mint.ex#L51 right?

[2022-05-08 16:02] yordis commented on #525
I was more focused on making the underline mechanism the same but higher up they would end up with different implementations to some extent.

For example, these would be where they all diverge:

- `Tesla.Env`
- `Plug.Conn`
- `Commanded.Middleware.Pipeline`

The message/data structure being passed between the middleware are different, but most of them need the same macros to compose those pipelinin

[2022-05-08 16:40] teamon opened #529 "Publish Hex package via Github Action"
Similar to https://github.com/ueberauth/guardian/blob/master/.github/workflows/release.yml

- [x] Add `HEX_API_KEY` secret @teamon
- [ ] Setup Github Actions workflow

[2022-05-09 09:24] teamon commented on #509
Basically yes :)

In case of tests it would be great to have failing test cases for all related issues and then check if changing to passive mode fixes them.

[2022-05-10 05:22] yordis opened #531 "[Feature] Add RequestBuilder"
## Context

One of the popular OpenAPI generators creates per codegen a file called `RequestBuilder`, for example:

<details>
  <summary>Example code of RequestBuilder</summary>

[code]
</details>

I also keep copying the same exact code whenever I can relate to it,

[code]

My version is much simpler based on my needs, but it morph based on the use case.

The intention behind these modules is to

[2022-05-10 19:13] Ryanauger95 opened #532 "Disable for a file?"
I'm using an umbrella app and have `config :tesla, adapter: Tesla.Mock` set inside my config/test.exs. I use tesla throughout my apps, and need to do an actual call to an outside source (unmocked) in one test.

How can I disable mocking for an individual test file?

[2022-05-10 19:36] yordis commented on #532
@Ryanauger95 normally, you call `Applicate.put_env` in the test case put the other client, and then put the old value back again.

[code]

I don't think the Tesla package could help you much here.

Being said that, I also have `Tesla` for multiple things, but the architecture of my code does not require such practices, so I am curious to know precisely how you set things up because the fix may req

[2022-05-10 19:36] #532 closed

[2022-05-29 18:21] #529 closed

[2022-06-09 15:27] alexandremcosta commented on #532
If you want to keep `async: true`, you can do

[code]

[2022-06-21 08:35] bmarkons commented on #255
Hi, I found this issue while I was trying to figure out how to provide timeout for single Tesla request. I managed to do it by modifying the client `pre` field and injecting Tesla.Middleware.Timeout into it. However, I would expect to provide timeout through option like @mroach suggested but it seems it is not possible yet.

So my question is, is there any other easier way?

[2022-06-25 15:07] MMore opened #536 "Retry does not work on timeout"
Hello,

love your library! I just wanted to add a retry for my existing API client using the Retry middleware. I expected it would retry on timeouts, but it does not. It returns `{:error, :timeout}` on a timeout, but retry isn't triggered. For other errors retry works as expected.

That's basically my module:

[code]

The following versions I use:
- Elixir 1.13.4
- hackney 1.18.1
- Tesla 1.4.4

An

[2022-07-13 07:10] mfeckie opened #538 "Query parameters do not support nested maps"
When using Plug, we are able to serialize nested maps to query params.

e.g. `Plug.Conn.Query.encode(%{filters: %{ name: "dave", direction: "asc", pagination: %{ page: 1} } })` which would give us something like `filters[direction]=asc&filters[name]=dave&filters[pagination][page]=1"`

Would you be open to a PR which either used Plug's implementation directly or re-implemented the algorithm?

[2022-07-13 07:22] yordis commented on #538
Ideally, we shouldn't depend on `Plug` since Telsa is about something else, so in the best scenario, `Plug` and `Tesla` would use the same package.

If I am not mistaken, these types of serialization became popular with OpenAPI and they have some names for it https://swagger.io/docs/specification/serialization/ maybe it is worth having some packages shared, but I am not sure if `Plug` peeps would

[2022-07-13 07:34] mfeckie commented on #538
Plug doesn't have a dependency, it has it's own implementation https://github.com/elixir-plug/plug/blob/v1.13.6/lib/plug/conn/query.ex#L203-L279

I'm not sure what the deal is with OpenAPI.  Looking at that reference list, the only strategy I've very seen is `deepObject` and (infrequently) `form`.

Plug seemed like the logical implementation to me, because Tesla is very `Plug` like.

Seems like th

[2022-08-22 08:59] hassanRsiddiqi commented on #536
I am also facing the same issue. @MMore Do you manage it somehow?

[2022-08-22 09:17] teamon commented on #536
You need to put Retry middleware before Timeout middleware.

[2022-08-22 09:34] hassanRsiddiqi commented on #536
@teamon  thanks, It works.

[2022-08-25 00:33] yordis commented on #536
@MMore feel free to reopen the issue if [the solution that @teamon shared](https://github.com/elixir-tesla/tesla/issues/536#issuecomment-1222081474) doesn't work

[2022-08-25 00:33] #536 closed

[2022-08-25 17:14] Nezteb opened #541 "Allow adding new mocks in `Tesla.Mock.mock` instead of overwriting previously defined mocks"
Note: most of this wouldn't be an issue depending on the results of https://github.com/elixir-tesla/tesla/issues/241

Say I have a test:
[code]

I don't know what the API would look like but I have two ideas to not break existing tests:

Option 1:
[code]

Option 2:
[code]

Thoughts? 😅

[2022-09-09 18:50] yordis commented on #538
To collect more implementations, I recently had to do the following one

[code]

Haven't done objects because we don't have a need for it

[2022-09-20 19:38] dantuck opened #544 "Tesla mix lock for {:finch, "~> 0.3", optional: true} many version behind"
### Discussed in https://github.com/elixir-tesla/tesla/discussions/543

<div type='discussions-op-text'>

<sup>Originally posted by **dantuck** September 14, 2022</sup>
I am seeing that the current release of Tesla has the finch dep set to `{:finch, "~> 0.3", optional: true}` when the latest release of finch is at `0.13.0`.

We are wondering if it is safe to override to `0.13.0` -> `{:finch, "~> 0

[2022-09-29 18:50] teamon commented on #544
@dantuck The best way would be to just try it, and when you do please let us know if everything works fine 🙏

[2022-10-06 21:31] dantuck commented on #544
Thanks @teamon. We will very likely give this a go and if it works ill get a PR in.

[2022-10-08 20:17] nichita-pasecinic opened #545 "[Middleware] `Tesla.Middleware.JSON` doesn't decode `application/problem+json; charset=utf-8` header"
Firs of all, thanks for such an amazing library, first interactions with it are so far very promising and I like it 😄

#### The issue:

A request received with `Content-Type` value: `application/problem+json; charset=utf-8` will not get decoded, even if it should as it is valid `JSON`

This is how the client looks like (uses `Tesla.Middleware.JSON`)
[code]
The response body is plain string.

Thank

[2022-10-08 20:21] nichita-pasecinic commented on #545
3 minutes and the issue solved, every time is just a matter of the right configuration (and attention reading the docs OFC 😄)

Just add additional headers that the middleware should encode/decode
[code]

[2022-10-08 20:21] #545 closed

[2022-10-31 20:38] dantuck commented on #544
@teamon [PR](https://github.com/elixir-tesla/tesla/pull/547) created and ready for review.